<% if current_user.is_admin %>
    <div style ="margin-top:10px">
    </div>

    <div style = "float:left; margin-top:50px; margin-right:50px; margin-bottom:10px">
         <% if current_user.profile_image.attached?%>
          <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
         <% end %><br>
         <br>
         <b style = "margin-left:15px"><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-primary btn-mi" %></b>
    </div>
    
    <div style ="float:left; margin-left:40px; margin-top:100px">
          <div><h4 style="color: lightgrey"><i><b>Name : <%=current_user.name%></b></i></h4></div> 
          <div><h4 style="color: lightgrey"><i><b>Username : <%=current_user.user_name%></b></i></h4></div>      
    </div>
         
    <center>
    <div style = "margin:20px" class ="container-sm float-right" >
    <h5><b> <%= link_to 'LIST OF ITEMS', admin_path, class:" btn btn-info btn-lg btn-block" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW REPORTS ', reports_path, class:"btn btn-info btn-lg btn-block " %> </b></h5> 
    <h5><b> <%= link_to ' VIEW USERS ', users_path, class:"btn btn-info btn-lg btn-block" %> </b></h5> 
    <h5><b> <%= link_to ' VIEW DEACTIVATED ACCOUNTS ', deactivated_users_path, class:"btn btn-info btn-lg btn-block" %><b> </h5> 
    
    </div>
    </center>
        
<% end %>

<% if current_user.is_buyer && !current_user.is_seller && !current_user.is_admin %>
       
    <div style = "float:left; margin-top:100px; margin-right:50px; margin-bottom:10px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
        <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>

    <div style ="float:left; margin-left:20px; margin-top:120px">
        <div><h4 style="color: lightgrey"><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4 style="color: lightgrey"><b>Username :  <%=current_user.user_name%></b></h4></div>
        <div><h4 style="color: lightgrey"><b>Role:  Buyer </b> </h4></div>
    </div>  
   
        
<% end %>

<% if current_user.is_seller && !current_user.is_buyer && !current_user.is_admin %>
  
    <div style = "float:left; margin-top:100px; margin-right:50px; margin-bottom:10px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
        <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>

    <div style ="margin-left:20px; margin-top:120px; float:left">
      <div><h4 style="color: lightgrey"><b>Name : <%=current_user.name%></b></h4></div> 
        <div><h4 style="color: lightgrey"><b>Username :  <%=current_user.user_name%></b></h4></div>
        <div><h4 style="color: lightgrey"><b>Role:  Seller </b> </h4></div>
    </div> 
    
<% end %>

<% if current_user.is_buyer && current_user.is_seller && !current_user.is_admin%>
   
    <div style = "float:left; margin-top:100px; margin-right:50px; margin-bottom:10px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:20px; margin-top:120px; float:left">
    <div><h4 style="color: lightgrey"><b>Name : <%=current_user.name%></b></h4></div> 
      <div><h4 style="color: lightgrey"><b>Username :  <%=current_user.user_name%></b></h4></div>
      <div><h4 style="color: lightgrey"><b>Role:  Both</b> </h4></div>
  </div> 
        
<% end %>

<% if !current_user.is_buyer && !current_user.is_seller && !current_user.is_admin%>
   
    <div style = "float:left; margin-top:100px; margin-right:50px; margin-bottom:10px">
        <% if current_user.profile_image.attached?%>
        <%= image_tag url_for(current_user.profile_image.variant(resize: '150x200'))%>
        <%else%>
        <div class="bg-light w-50 h-100 p-3 ">
        <h3 style="color:black"> Add Profile Picture Here</h4>
        </div>
        <% end %>
        <br>
        <br>
    <b><%= link_to "Edit Your Profile", edit_user_registration_path, class:"btn btn-warning btn-lg" %></b>
    </div>
    <div style ="margin-left:20px; margin-top:120px; float:left">
    <div><h4 style="color: lightgrey"><b>Name : <%=current_user.name%></b></h4></div> 
      <div><h4 style="color: lightgrey"><b>Username :  <%=current_user.user_name%></b></h4></div>
      <div><h4 style="color: lightgrey"><b>Role:  None</b> </h4></div>
  </div> 
        
<% end %>





    






